.headers-links-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  padding-right: var(--dl-space-space-twounits);
  flex-direction: row;
}
.headers-links-navlink {
  font-size: 24px;
  text-decoration: none;
}
.headers-links-navlink1 {
  font-size: 24px;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.headers-links-navlink2 {
  font-size: 24px;
  margin-left: var(--dl-space-space-twounits);
  margin-right: var(--dl-space-space-sixunits);
  text-decoration: none;
}
.headers-links-navlink3 {
  display: contents;
}
.headers-links-icon {
  width: 36px;
  height: 36px;
  text-decoration: none;
}
.headers-links-navlink4 {
  display: contents;
}
.headers-links-icon2 {
  flex: 1;
  width: 36px;
  height: 36px;
  margin-left: var(--dl-space-space-fourunits);
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  text-decoration: none;
}
.headers-links-navlink5 {
  display: contents;
}
.headers-links-icon4 {
  width: 36px;
  height: 36px;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}

































@media(max-width: 767px) {
  .headers-links-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .headers-links-navlink {
    margin-bottom: var(--dl-space-space-unit);
  }
  .headers-links-navlink1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .headers-links-navlink2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}
