.product-info-hero {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  min-height: 80vh;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.product-info-image {
  width: 25rem;
  object-fit: cover;
}
.product-info-container {
  display: flex;
  margin-left: var(--dl-space-space-twounits);
  flex-direction: column;
}
.product-info-text {
  font-size: 3rem;
}
.product-info-text1 {
  margin-top: var(--dl-space-space-unit);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.product-info-btn-group {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
}
.product-info-button {
  color: var(--dl-color-gray-white);
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-gray-black);
}
.product-info-button:hover {
  transform: scale(1.02);
}
.product-info-button1 {
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
}
.product-info-button1:hover {
  transform: scale(1.02);
}
.product-info-text2 {
  margin-top: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-threeunits);
}
@media(max-width: 991px) {
  .product-info-hero {
    padding: var(--dl-space-space-threeunits);
    flex-direction: column;
  }
  .product-info-image {
    order: 2;
  }
  .product-info-container {
    align-items: center;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .product-info-text {
    text-align: center;
  }
  .product-info-text1 {
    text-align: center;
  }
  .product-info-text2 {
    text-align: center;
    padding-left: var(--dl-space-space-fourunits);
  }
}
@media(max-width: 767px) {
  .product-info-hero {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .product-info-image {
    width: 80%;
  }
}
@media(max-width: 479px) {
  .product-info-hero {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .product-info-container {
    margin-bottom: var(--dl-space-space-unit);
  }
  .product-info-btn-group {
    flex-direction: column;
  }
  .product-info-button1 {
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .product-info-text2 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
}
